<template>
  <div class="circle_list">
    <h1>Circle List</h1>
    <h2><router-link to="/list/comitia/138">138</router-link></h2>
    <h2><router-link to="/list/comitia/137">137</router-link></h2>
    <h2><router-link to="/list/comitia/136">136</router-link></h2>
    <h2><router-link to="/list/comitia/134">134</router-link></h2>
    <h2><router-link to="/list/comitia/131">131</router-link></h2>
    <h2><router-link to="/list/comitia/130">130</router-link></h2>
  </div>
</template>

<script>
export default {
  title: 'List index',
  name: 'list_index',
  components: {
  }
}
</script>
