<template>
  <div id="app">
    <div id="navbar-fixed">
      <nav role="navigation" class="light-green">
        <div class="nav-wapper container">
          <ul id="nav-mobile" class="right">
            <li><router-link to="/">Home</router-link></li>
            <li><router-link to="/list/comitia/index">Circle List</router-link></li>
          </ul>
      </div>
    </nav>
    </div>
  <router-view/>

  <footer class="page-footer light-green">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text">Link</h5>
                <a class="white-text" href="https://gitlab.com/comitia-tools/circle-list-searcher" target="_blank" rel="noopener">Source code</a>
              </div>
              <div class="col s12">
                <h5 class="white-text"><font-awesome-icon icon="exclamation-triangle" />Caution</h5>
                  このサイトはコミティア、コミティア実行委員会とは一切関係ありません。
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Tsukiyono Megumi
            </div>
          </div>
        </footer>
  </div>

</template>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;
}

/* #nav a {
  font-weight: bold;
  color: #2c3e50;
} */

#nav a.router-link-exact-active {
  font-weight: bold;
}
</style>
